In [1]:
import duckdb 
import pandas as pd

In [3]:
sql_query = ''' 
SHOW TABLES
'''
with duckdb.connect('data/nyc_parking_validations.db') as con:
    display(con.sql(sql_query).df())

Empty DataFrame
Columns: [name]
Index: []