In [13]:
import duckdb
import pandas as pd

# SQL query to select data from first_model
sql_query_first_model = ''' 
SELECT COUNT(*) FROM first_model LIMIT 5
'''

# SQL query to select data from ref_model
sql_query_ref_model = ''' 
SELECT * FROM ref_model
'''

# Connect to the DuckDB database and execute the queries
with duckdb.connect('data/nyc_parking_violations.db') as con:
    df_first_model = con.execute(sql_query_first_model).df()
    df_ref_model = con.execute(sql_query_ref_model).df()
    
    # Display the results
    print("Data from first_model:")
    print(df_first_model)
    
    print("\nData from ref_model:")
    print(df_ref_model)

Data from first_model:
   count_star()
0            97

Data from ref_model:
   count_star()
0            97

In [11]:
import duckdb

# Connect to the DuckDB database and list all tables
with duckdb.connect('data/nyc_parking_violations.db') as con:
    tables = con.execute("SHOW TABLES").fetchall()
    print(tables)

[('bronze_parking_violation_codes',), ('bronze_parking_violations',), ('first_model',), ('gold_ticket_metrics',), ('gold_vehicles_metrics',), ('parking_violation_codes',), ('parking_violations_2023',), ('ref_model',), ('silver_parking_violation_codes',), ('silver_parking_violations',), ('silver_violation_tickets',), ('silver_violation_vehicles',)]

In [3]:
sql_query = ''' 
SHOW TABLES
'''
with duckdb.connect('data/nyc_parking_validations.db') as con:
    display(con.sql(sql_query).df())

                      name
0  parking_violation_codes
1  parking_violations_2023

In [7]:
sql_query = ''' 
SELECT * FROM parking_violation_codes LIMIT 5
'''
with duckdb.connect('data/nyc_parking_validations.db') as con:
    display(con.sql(sql_query).df())

,code,definition,manhattan_96th_st_below,all_other_areas
0,1,FAILURE TO DISPLAY BUS PERMIT,515,515
1,2,NO OPERATOR NAM/ADD/PH DISPLAY,515,515
2,3,UNAUTHORIZED PASSENGER PICK-UP,515,515
3,4,BUS PARKING IN LOWER MANHATTAN,115,115
4,5,BUS LANE VIOLATION,250,250

In [5]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM 
    read_csv_auto('data/dof_parking_violation_codes.csv',
    normalize_names=True)
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT *
FROM read_csv_auto('data/parking_violations_issued_fiscal_year_2023_sample.csv',
normalize_names=True)
'''

with duckdb.connect('data/nyc_parking_validations.db') as con:
    con.execute(sql_query_import_1)
    con.execute(sql_query_import_2)